*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/* Custom */

.img-fluid10{
    max-width: 10%;
}

.img-fluid-section2{
    max-width: 100%;
}






.padding-power{
    padding-top: 250px;
}


.max-width-sfondoONE{
    max-width: 300px;
}


.margin-negativeBG{
    margin-left: -3%;
}

.margin-top-section-2{
    margin-top: 15%;
}

.margin-negativeUP{
    margin-top: -1%;
}


.font-size-custom{
    font-size: 3rem;
}


/* *********BC*********** */
.ADM-BG-BLACK{
    background-color: #212529;
}

.ADM-BG-WHITE{
    background-color: rgb(255, 255, 255) !important;
    position: relative;
}



/* ****** Color ********* */














/* *****Sfondo***** */

#primo-sfondo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#secondo-sfondo{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





/* -----HOVER------ */

.hover-section2:hover{
    border-bottom: 2px solid rgb(2, 154, 255);
}