*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




/* Custom */

.img-fluid10{
    max-width: 10%;
}

.img-fluid-section2{
    max-width: 100%;
}


.img-fluid-social{
    max-width: 90%;
}

.img-fluid-footer{
    max-width: 30%;
}



.padding-power{
    padding-top: 250px;
}

.padding-power-meno{
    padding-top: 55px;
}

.padding-power-meno-B{
    margin-bottom: 55px;
}

.padding-power-footerMeno{
    margin-bottom: 100px;
}

.padding-power-footerTop{
    margin-top: 100px;
}


.margin-top-footer-a{
    margin-top: 100px;
}


.max-width-sfondoONE{
    max-width: 300px;
}


.margin-negativeBG{
    margin-left: -3%;
}

.margin-top-section-2{
    margin-top: 15%;
}

.margin-negativeUP{
    margin-top: -1%;
}


.font-size-custom{
    font-size: 3rem;
}






.font-size-footer-p{
    font-size: 0.9rem;
}

/* *********BC*********** */
.ADM-BG-BLACK{
    background-color: #212529;
}

.ADM-BG-WHITE{
    background-color: rgb(255, 255, 255) !important;
    position: relative;
}

.ADM-BG-GREY{
    background-color: #1f1f1f;
}


.ADM-BG-POLVERE{
    background-color: #bebcbb;
}


.ADM-BG-BLU{
    background-color: #161c3b;
}


.ADM-BG-BLU-CHIARO{
    background-color: #00439c;
}






/* ****** Color ********* */














/* *****Sfondo***** */

#primo-sfondo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#secondo-sfondo{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





/* -----HOVER------ */

.hover-section2:hover{
    border-bottom: 2px solid rgb(2, 154, 255);
}