*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




/* Custom */

.img-fluid10{
    max-width: 10%;
}


.padding-power{
    padding-top: 250px;
}


.max-width-sfondoONE{
    max-width: 300px;
}


.margin-negative{
    margin-left: -3%;
}


.font-size-custom{
    font-size: 3rem;
}


/* *********BC*********** */
.ADM-BG-BLACK{
    background-color: #212529;
}

.ADM-BG-WHITE{
    background-color: rgb(255, 255, 255) !important;
    position: relative;
}



/* ****** Color ********* */














/* *****Sfondo***** */

#primo-sfondo{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}





